ControlPedidos_v1/ControlPedido/App_WebReferences/WebServiceMelchor/MelchorServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.melchor.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" name="MelchorServiceImplService" targetNamespace="http://service.melchor.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://service.melchor.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ObtenerListaProductos" type="tns:ObtenerListaProductos" />
      <xs:element name="ObtenerListaProductosResponse" type="tns:ObtenerListaProductosResponse" />
      <xs:complexType name="ObtenerListaProductos">
        <xs:sequence>
          <xs:element minOccurs="0" name="IN01CODEMP" type="xs:string" />
          <xs:element minOccurs="0" name="IN01AA" type="xs:string" />
          <xs:element minOccurs="0" name="IN01KEY" type="xs:string" />
          <xs:element minOccurs="0" name="IN01DESLAR" type="xs:string" />
          <xs:element minOccurs="0" name="vcodigoAlmacen" type="xs:string" />
          <xs:element minOccurs="0" name="vMes" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObtenerListaProductosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" type="tns:producto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="producto">
        <xs:sequence>
          <xs:element minOccurs="0" name="IN01DESLAR" type="xs:string" />
          <xs:element minOccurs="0" name="IN01KEY" type="xs:string" />
          <xs:element minOccurs="0" name="IN01UNIMED" type="xs:string" />
          <xs:element minOccurs="0" name="IN04CODALM" type="xs:string" />
          <xs:element minOccurs="0" name="IN04STOCK" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arrayList">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractList">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractList" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractCollection">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractCollection" abstract="true">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerListaProductos">
    <wsdl:part name="parameters" element="tns:ObtenerListaProductos" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaProductosResponse">
    <wsdl:part name="parameters" element="tns:ObtenerListaProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="MelchorService">
    <wsdl:operation name="ObtenerListaProductos">
      <wsdl:input name="ObtenerListaProductos" message="tns:ObtenerListaProductos" />
      <wsdl:output name="ObtenerListaProductosResponse" message="tns:ObtenerListaProductosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MelchorServiceImplServiceSoapBinding" type="tns:MelchorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListaProductos">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ObtenerListaProductos">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ObtenerListaProductosResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MelchorServiceImplService">
    <wsdl:port name="MelchorServiceImplPort" binding="tns:MelchorServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:28080/MelchorWebService/ServiceMinera" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>